@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--border: hsl(0, 0%, 40%);
	--blue: hsl(210, 50%, 50%);
}

html {
	scrollbar-gutter: stable;
}

body {
	background: #16161d;
	color: hsl(240, 80%, 98%);
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	max-width: 70rem;
}

.small-container {
	margin-inline: auto;
	padding-inline: 1.5rem;
	max-width: 65ch;
}

.tag-capsule {
	display: inline-flex;
	align-items: center;
	padding: 0.25em 1em;
	border: 1px solid var(--border);
	border-radius: 100vw;
	font-size: 0.875rem;
	line-height: 1;
}

.submit-btn {
	padding-block: 0.75em;
	background: hsl(110, 80%, 30%);
	border-radius: 4px;
	transition: background-color 0.4s ease-out;
	cursor: pointer;
}

.submit-btn:hover {
	background: hsl(110, 80%, 25%);
}
