@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--border: hsl(0, 0%, 40%);
}

body {
	background: #16161d;
	color: hsl(240, 80%, 98%);
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	max-width: 80rem;
}

.small-container {
	margin-inline: auto;
	padding-inline: 1.5rem;
	max-width: 50rem;
}

.tag-capsule {
	display: inline-flex;
	align-items: center;
	padding: 0.25em 1em;
	border: 1px solid var(--border);
	border-radius: 100vw;
	font-size: 0.875rem;
	line-height: 1;
}
